/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: #ff0070;
  --back-background-color: #000028;
  --title-color: #ff0070;
  --accent-color: #ff0070;
  --bg-color:  #ff0070;
  --sub-color: #DB00FF;
  --dim-color: rgba(255, 0, 112, 0.40);
  --shadow-color:#ff0070;
  --link-shadow-color:#ff0070;
  --border-bottom-color:#F1B2CE;
  --img-background: url(../images/cover-image-dark.png);
  --paragraph-color: #F1B2CE;
  
}
